<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATH">logs</Property>
        <Property name="ARCHIVE">${LOG_PATH}/archive</Property>
        <property name="PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%3tid] [%c{1}] %msg%n</property>
        <Property name="FILE_APPLICATION">botnet</Property>
        <Property name="FILE_ERROR">error</Property>
        <Property name="DEFAULT_FILE_SIZE">10 MB</Property>
        <Property name="DEFAULT_FILE_ROLLING">5</Property>
    </Properties>

    <Appenders>
        <Console name="console_appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>

        <RollingFile name="file_appender_application" fileName="${LOG_PATH}/${FILE_APPLICATION}.log"
                     filePattern="${ARCHIVE}/${FILE_APPLICATION}.%d{yyyy-MM-dd-hh-mm-ss}.log">
            <PatternLayout pattern="${PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="${DEFAULT_FILE_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy max="${DEFAULT_FILE_ROLLING}" />
        </RollingFile>

        <RollingFile name="file_appender_error" fileName="${LOG_PATH}/${FILE_ERROR}.log"
                     filePattern="${ARCHIVE}/${FILE_ERROR}.%d{yyyy-MM-dd-hh-mm-ss}.log">
            <PatternLayout pattern="${PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="${DEFAULT_FILE_SIZE}" />
            </Policies>
            <DefaultRolloverStrategy max="${DEFAULT_FILE_ROLLING}" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info"> <!-- PROD - info -->
            <AppenderRef ref="console_appender" />
            <AppenderRef ref="file_appender_application" level="debug" /> <!-- PROD - debug -->
            <AppenderRef ref="file_appender_error" level="error" />
        </Root>

        <logger name="com.mchange.v2.c3p0" level="error" /> <!-- PROD - error -->
        <logger name="org.hibernate" level="error" /> <!-- PROD - error -->
    </Loggers>

</Configuration>