# Files
############################################

*.properties
*.json
*.iml
*.class
*.log
*.tmp
*.jar
*.zip

# Directories
############################################

.idea/
logs/
target/
src/test/
